In [1]:
import pandas as pd

In [3]:
dataset= pd.read_excel("D:\Study\Machine Learning\ReplaceAndChangeDataTypes\dataset1.xlsx")

In [5]:
dataset

     type Urgency severity priority
0    Task     low    minor        4
1    Task     NaN    minor        4
2    Task     low    minor      NaN
3    Task     low      NaN        4
4    Task     NaN    minor        4
..    ...     ...      ...      ...
485  Task     low    minor        4
486  Task     low    minor        4
487   Bug     low    minor        4
488   Bug     low    minor        4
489  Task     low    minor        4

[490 rows x 4 columns]

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      490 non-null    object
 1   Urgency   476 non-null    object
 2   severity  486 non-null    object
 3   priority  480 non-null    object
dtypes: object(4)
memory usage: 15.4+ KB

In [7]:
dataset.dropna()

     type Urgency severity priority
0    Task     low    minor        4
5    Task     low    minor        4
8    Task     low    minor        4
9    Task     low    minor        4
10   Task     low    minor        4
..    ...     ...      ...      ...
485  Task     low    minor        4
486  Task     low    minor        4
487   Bug     low    minor        4
488   Bug     low    minor        4
489  Task     low    minor        4

[462 rows x 4 columns]

In [8]:
dataset["priority"].value_counts()

priority
4        276
1        148
64331     22
234       17
12828     10
3+         1
102        1
100        1
200        1
542        1
87555      1
2345       1
Name: count, dtype: int64

In [11]:
dataset["priority"].replace("3+","3",inplace=True)

In [12]:
dataset["priority"].value_counts()

priority
4        276
1        148
64331     22
234       17
12828     10
3          1
102        1
100        1
200        1
542        1
87555      1
2345       1
Name: count, dtype: int64

In [13]:
dataset["priority"].astype("float64")

ValueError: cannot convert float NaN to integer